@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700&display=swap');

body{
    font-family: "Rubik", sans-serif;
    color: #F9F9F9;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 50px;
    margin-top: 0px;
}

.div-header{
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(193, 217, 143);
    font-size: 1.5em;
    width: 36%;
    padding: 30px;
    margin: 0 auto; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 15px;
  }

.grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 15px;
    width: 36%;
    height: 30%;
    padding: 5px 15px 5px;
    background-color: rgb(39, 22, 36, 30%);
    margin: 0 auto;
    margin: 0 auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/*criando design das cartaas e fazendo animação enquanto ela vira*/
.cartas{
    aspect-ratio: 3/4;
    width: 100%;
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease; /*transição tempo e tipo*/
    transform-style: preserve-3d;
    margin-bottom: 10px;
    margin-top: 10px;
}

/*criando uma class geral para a formatação comum 
pegar tanto na frente quanto no verso*/
.face{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 2px solid #bb0b0b;
    border-radius: 5px;
    transition: all 400ms ease;
}

/*rotação da div para que a imagem fique do lado certo*/
.frente{
    transform: rotateY(180deg);
   
}

/*deixando o verso invisivel para poder ver a imagem*/
.verso{
    background-image: url('../images/jogo-da-memoria/capa.png');
    backface-visibility: hidden;
}

.review-carta{
    transform: rotateY(180deg); 
}

.disabled-carta{
    filter: saturate(0);
    opacity: 0.5;
}