@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700&display=swap');

body{
    font-family: "Rubik", sans-serif;
    color: #F9F9F9;
}
.container{
    margin-top: 15px;
    width: 40vw;
    background-color: rgb(39, 22, 36, 30%);
    border-radius: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 25px;
    justify-content: center;
    align-items: center;
}
.mensagem{
    font-weight: 700;
    font-size: 54px;
}
.mensagem-X{
    color: #C1D98F;
}
.mensagem-O{
    color: #8E45BF;
}
.gradeJogo{
    width: 340px;
    height: 340px;
    background-image: url(../images/jogo-da-velha/grade-jogo.png);
    background-size: contain;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.campo:not(.x):not(.o){
    width: 100px;
    height: 100px;
    background-color: rgb(250, 250, 250, 0%);
    border-style: none;

    cursor: pointer;
}
.gradeJogo.x .campo:not(.x):not(.o):hover,
.gradeJogo.o .campo:not(.x):not(.o):hover{
    opacity: 0.3 !important;
}
.campo.x,
.gradeJogo.x .campo:not(.x):not(.o):hover{
    width: 100px;
    height: 100px;
    background-color: rgb(250, 250, 250, 0%);
    border-style: none;
    
    background-image: url(../images/jogo-da-velha/X.png);
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
}
.campo.o,
.gradeJogo.o .campo:not(.x):not(.o):hover{
    width: 100px;
    height: 100px;
    background-color: rgb(250, 250, 250, 0%);
    border-style: none;

    background-image: url(../images/jogo-da-velha/O.png);
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
}
.pontuacao{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
}
h3{
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
}
.jogador{
    width: 50%;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}
p{
    font-weight: 700;
    font-size: 28px;
    text-align: center;
}
.botoes{
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
    gap: 15px;
}
.botoes button{
    background-color: #8E45BF;
    border-style: none;
    border-radius: 10px;

    cursor: pointer;

    width: 50%;
    height: 80px;
    padding: 15px;
    
    font-weight: 700;
    font-size: 24px;
    font-family: "Rubik", sans-serif;
    color: #F9F9F9;
}
.botoes button:hover{
    background-color: #C1D98F;
    color: #211940;

    transition: all ease-in-out 250ms;
}